
.inline-blocks > .block{

  display: inline-block;
  vertical-align: middle;
}
.image{
  height: 140px;
  width: 140px;
  border-radius: 180px;
  border: 3px solid #fff;
  margin-top: 22px;
  margin-right: 40px;
  
}

.twenty-one{
  font-size: 200px;
  font-family: 'Josefin Sans';
  font-weight: 100;
  line-height: 180px;
  color: #fff;

  margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

.bday{
  font-size: 18px;
  color: #fff;
  font-family: 'Josefin Sans';
  font-weight: 300;
  text-align: center;
   margin-top: 0px;
    margin-bottom: 30px;
    margin-right: 10px;
    margin-left: 10px;
}

.cover{
  background: rgba(0,0,0,0.50);
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  z-index: 1000;
}

#can{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}


.container{
  display:flex;
  align-items: center;
  justify-content: center;
}

html,body{
  width: 100%;
  height: 100%;
  margin: 0;
  background:#131313;
  overflow:hidden;
}

a{
  color: skyblue;
  text-decoration: none;
}

.static{
  min-width: 200px;
  position: relative;
  z-index: 1000;
  margin-bottom: 100px;
}

body{
  background: url('css/cake.jpg');
  background-position: center center;
  background-size: contain;
  height: 100%; 
   background-repeat: no-repeat;
    background-size: cover;
}


@media only screen and (max-width: 640px) {
  .container{
    display: block !important;
  }
}